<div class = "row" >
  <h1>商品詳細</h1>
    <div class = "col-xs-4">

    </div>
    <div class = "col-xs-9">
      <table>
        <tr>
          <th>商品名</th>
          <th><%= @item.name %></th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th><%= @item.introduction %></th>
        </tr>
        <tr>
          <th>税込価格<br>
              (税抜価格)
          </th>
          <th><%= @item.item.with_tax_price%>(<%= @item.price %>)円</th>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_item_path(@item) %>
    </div>
</div>

