<h1>注文履歴詳細</h1>

  <h2>購入者</h2>
    <%= link_to @order.name, admin_customer_path(@customer.id) %>
  <h2>注文日</h2>
    <%= @order.created_at %>
  <h2>配送先</h2>
    <%= @order.address %>
  <h2>支払方法</h2>
    <%= @order.payment_method %>
  <h2>注文ステータス</h2>
    <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
      <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
      <%= f.submit "更新" %>
    <% end %>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
      </tr>
    </thead>
    <% @order_details.each do |order_detail| %>
    <tbody>
      <% @total = @total + order_detail.subtotal %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.item.price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
        <td>
          <%= form_with model: order_detail, url: admin_order_order_detail_path(order_detail.id), method: :patch, local: true do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <table>
    <tbody>
      <tr>
        <th>商品合計</th>
        <td><%= @total %></td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= @total + @order.shipping_cost %></td>
      </tr>
    </tbody>
  </table>
