
  <table>
      <tr>
        <td>
          <%= image_tag @item.image, width:"300px", height:"300px" %>
        </td>
      </tr>
      <tr>
        <td>
          <h2>
          <strong>
            <%= @item.name %>
          </strong>
          </h2>
        </td>
      </tr>
      <tr>
        <td>
          <%= @item.introduction %>
        </td>
      </tr>
      <tr>
        <td>
          ￥<%= @item.with_tax_price %>（税込）
        </td>
      </tr>
      <tr>
        <td>
        <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :customer_id, value: @customer.id %>
          <%= f.select :amount, *[1..99] %>
          <%= f.submit "カートに入れる" %>
        <% end %>
        </td>
      </tr>
  </table>

